<div id="hire-me">
  <div class="row">
    <div class="intro-blurb col-md-4 col-md-offset-2 col-xs-12">
      <p>
        <span class="emphasis">I'm an engineer</span> with two decades of experience building quality software. I love working with others to 
        write maintainable, well-tested code that serves the needs of the user.
      </p>
    </div>
    <div class="intro-blurb col-md-4 col-xs-12">
      <p>
        <span class="emphasis">I'm a leader</span> with experience managing engineers of all experience levels. I'm skilled at
        creating and implementing departmental policy, building teams, and directing engineering efforts.
      </p>
    </div>
  </div>

  <div class="row">
    <div class="intro-blurb col-md-8 col-md-offset-2 col-xs-12">
      <p>
        I'm looking for a place where I can help a team and its engineers to grow. I want to build cool products, impact people,
        and learn from more experienced engineering leadership.
      </p>
      <p>Learn more about me:</p>
    </div>
  </div>

  <div class="more-info row">
    <div class="col-xs-offset-3 col-xs-2">
      <%=link_to '#' do %>
        <div class="home-menu-icon"><%=fa_icon 'lightbulb-o 3x'%></div>
        My Skills
      <%end%>
    </div>
    <div class="col-xs-2">
      <%=link_to 'cv' do %>
        <div class="home-menu-icon"><%=fa_icon 'list 3x'%></div>
        Work Experience
      <%end%>
    </div>
    <div class="col-xs-2">
      <%=link_to 'contact' do %>
        <div class="home-menu-icon"><%=fa_icon 'comment 3x'%></div>
        Contact
      <%end%>
    </div>
  </div>
</div>
